@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');


body, html {
  min-width: 200px;
}
.avatar {
  border-radius: 100%;
}

.info {
  text-align: center;
}

.navbar {
  margin-bottom: 20px;
}

.socials-list {
  list-style: none;
  text-align: center;
  margin-top:20px;
  padding-left:0;
}

.socials-list li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.socials-list i {
  font-size: 2em;
}

.socials-list a {
  color:#222222;
}

.socials-list a:hover {
  color:#005cbf;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .avatar {
    width:200px;
    height: 200px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }