@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

:root {
    --white: #fff;
    --transparent-white: #fffff7fa;
    --overlay-color: #0000006b;
    --light-blue: #007bff;
    --profile-img-background: #ffffff9e;
    --dark-grey: #222;
    --black: #000;
}

/** Native Elements */
body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    min-width: 320px;
}

div,
section {
    position: relative;
}

nav ul {
    list-style: none;
}

p,
li {
    font-weight: 300;
}

section {
    margin-top: 20px;
}

.responsive-video {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color, #00000038);
}

.text-align-center {
    text-align: center;
}

.click-through {
    pointer-events: none;
}

.fullscreen-container {
    width: 100%;
    min-height: 100vh;
    /* height:692px; */

    /* margin-top:20px; */
    /* margin-bottom:20px; */
    display: block;
    position: relative;
}

.fullscreen-container .overlay {
    height: 100vh;
}

.fullscreen-container .responsive-video {
    height: 100vh;
}





.navbar {
    font-weight: 300;
}

/** Colours Section */
.white {
    background-color: var(--transparent-white, #fffff7fa);
}

.light-blue {
    background-color: var(--light-blue, #007bff);
}

.light-blue a {
    color: #fff;
}

.red {
    color: red;
}



.profile-img {
    --size: 250px;
    width: var(--size, 250px);
    height: var(--size, 250px);
    border-radius: 100%;
    border: 5px solid var(--white, #fff);
    background-color: var(--profile-img-background, #ffffff9e);
    position: absolute;
    top: -138px;
    left: calc((100% - var(--size, 250px)) / 2);
}


.rightSidePanel {
    position: fixed;
    top: 45%;
    right: 0;
    list-style: none;
    z-index: 1;
    margin-right: 10px;
}

.rightSidePanel li a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.rightSidePanel li {
    width: 10px;
    height: 10px;
    background-color: var(--white, #fff);
    border: 1px solid var(--light-blue, #007bff);
    border-radius: 100%;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}

.rightSidePanel li.active {
    background-color: var(--light-blue, #007bff);
    border-color: var(--white, #fff);
}

.rightSidePanel li:hover {
    transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    background-color: var(--light-blue, #007bff);
    border-color: var(--white, #fff);
}

.bold {
    font-weight: bold;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}


/** Button Class */
.button {
    border: 1px solid var(--black, #000);
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}

.button:hover {
    text-decoration: none;
}

.button i {
    padding-left: 10px;
    padding-right: 10px;
}

.button.blue {
    border-color: var(--light-blue, #007bff);
    color: var(--light-blue, #007bff);
}

.button.blue:hover {
    background-color: var(--light-blue, #007bff);
    color: var(--white, #fff);
}



/** 

    ID Section

*/

/** Video Header Section */
#video-header {
    color: var(--white, #fff);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/** Resume Section */
#resume {
    text-align: center;
}

/** About Me Section */
#about-me {
    color: var(--white, #fff);
    text-align: center;
    padding-bottom: 10px;
}

#about-me .col:first-of-type {
    padding-top: 140px;
}

/** Introduction Section */
#intro {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    word-break: break-word;
    padding-top: 6rem;
}

#intro h1 {
    font-size: 2em;
}

#intro ul {
    padding-left: 0;
    font-size: 1.5em;
    color: var(--light-blue, #007bff);
}

#intro ul li {
    display: inline-block;
    margin-top: 20px;
}

#intro a:visited {
    text-decoration: none;
    color: var(--light-blue, #007bff);
}

.hide {
    visibility: hidden;
}

footer {
    text-align: center;
}


.text-cursor::after {
    content: '|';
    color: black;
    opacity: 1;
    animation: blinkTextCursor 1s infinite;
}
  
.text-cursor.typing::after {
    animation: none;
}
  
@keyframes blinkTextCursor {
    0%, 25%, 80%, 100% {
        opacity: 1;
    }
    30%, 75% {
        opacity: 0;
    }
}

@-webkit-keyframes blinkTextCursor {
    0%, 25%, 80%, 100% {
        opacity: 1;
    }
    30%, 75% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
    }
} 

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
} 

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; 
 }

 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; 
 }