@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

.navbar {
  border-bottom: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}


.avatar {
  display:block;
  margin:0 auto;
  margin-top:100px;
  margin-bottom:20px;
}

#info {
  text-align: center;
}

#info .menu .menu-list li{
  display:inline-block;
  text-transform: uppercase;
  font-weight: bold;
}
